---
import { getCollection, getEntry } from 'astro:content'
import Layout from '../../layouts/Layout.astro'
import { filterPostCollection, sortPostsByPublishDate } from '../../utils'
import ArticleBlock from '../../components/ArticleBlock.astro'

export async function getStaticPaths() {
  const categories = await getCollection('categories')

  return categories.map((category) => {
    return { params: { slug: category.id } }
  })
}

const { slug } = Astro.params
const category = await getEntry('categories', slug)
const posts = (
  await getCollection('posts', (post) => {
    return filterPostCollection(post) && post.data.category?.id === category.id
  })
).toSorted(sortPostsByPublishDate)
---

<Layout title={`Category: ${category.data.name}`}>
  <div class="text-lg text-center font-display text-red-500">— Category —</div>
  <h1 class="text-5xl mb-16 text-center font-display text-red-500">
    {category.data.name}
  </h1>
  {posts.map((post) => <ArticleBlock post={post} showCategory={false} />)}
</Layout>
