.header 
  .header__info
    h1.header__title Ray Gesualdo
    .header__subtitle Biographical content goes here.
    .header__social-links
      a.header__social-link.header__social-link--github(href=config.sm.github.link)
        span.sr-only GitHub
        include ../../source/images/github.svg
      a.header__social-link.header__social-link--twitter(href=config.sm.twitter.link)
        span.sr-only Twitter
        include ../../source/images/twitter.svg
      a.header__social-link.header__social-link--linkedin(href=config.sm.linkedin.link)
        span.sr-only LinkedIn
        include ../../source/images/linkedin.svg 
  .header__menu
    each link, text in site.data.menu 
      a.header__menu-item(href=link)= text 
