<script src="https://cdn.tailwindcss.com"></script>

<div
  class="bg-slate-800 flex flex-col text-white font-display items-stretch gap-[2vw]"
  style="
    background-image: url('https://www.transparenttextures.com/patterns/axiom-pattern.png');
    background-image: url('https://www.transparenttextures.com/patterns/3px-tile.png');
  "
>
  <div class="px-[4vw] flex-1 pt-[2vw]">
    <h1 id="title" class="h-full leading-[1.2]">{{ title }}</h1>
  </div>
  <div
    class="flex justify-between items-center mt-[3vw] mb-[6vw] px-[4vw] bg-slate-200"
  >
    <div class="-my-[3vw]">
      <img
        src="https://pbs.twimg.com/profile_images/550139150066651136/II7xw5O__400x400.jpeg"
        class="rounded w-[16vw] shadow-lg"
      />
    </div>
    <h4 class="text-[7vh] text-slate-800">@raygesualdo</h4>
  </div>
</div>

<script src="textFit.js"></script>
<script>
  window.onload = function () {
    textFit(document.getElementById('title'), {
      maxFontSize: 140,
      multiLine: true,
    })
  }
</script>
