<script src="https://cdn.tailwindcss.com"></script>

<div
  class="bg-slate-800 flex items-stretch text-white font-display"
  style="
    background-image: url('https://www.transparenttextures.com/patterns/3px-tile.png');
  "
>
  <div class="flex-[1.2] p-[2vw] flex flex-col gap-[12vh]">
    <div class="flex-1 flex-shrink-[2]">
      <h1 id="title" class="h-full">
        {{ title }}
      </h1>
    </div>
    <div class="flex-grow-0 flex-shrink-0 flex flex-row items-center gap-[2vw]">
      <h4 class="text-[7vh]">@raygesualdo</h4>
    </div>
  </div>
  <div class="flex-1 relative">
    <img
      class="p-[2vw] w-full h-full object-cover"
      style="clip-path: polygon(20% 0%, 100% 0, 100% 100%, 5% 100%)"
      src="https://pbs.twimg.com/profile_images/550139150066651136/II7xw5O__400x400.jpeg"
    />
  </div>
</div>

<script src="textFit.js"></script>
<script>
  window.onload = function () {
    textFit(document.getElementById('title'), {
      maxFontSize: 500,
      multiLine: true,
    })
  }
</script>
