<div
  class="prose prose-lg prose-sky dark:prose-invert prose-pre:rounded-none prose-pre:md:rounded-md prose-pre:-mx-4 prose-pre:px-4 prose-pre:py-2 prose-pre:md:mx-0 prose-pre:md:p-0"
>
  <slot />
</div>
