<button data-theme-toggler class="text-sky-700 dark:text-sky-400 underline">Toggle theme</button>

<script is:inline>
  document.querySelector('[data-theme-toggler]').addEventListener('click', window.handleToggleClick)
</script>
