doctype html
html(lang="en")
  include includes/head
  body
    .main
      include includes/header
      .content
        != body
    include includes/footer
    include includes/third-party-scripts
  
