article.article
  h1.article__title= page.title
  p.article__meta-data
    span= full_date(page.date, 'MMMM Do YYYY, h:mm:ss a')
    span.article__meta-data-separator
    span= readingTime(page.content)
  != page.content
